@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Robot+Mono&display=swap');

/* lifted from https://www.endocreative.com/flexbox-circle-responsive-elements/ */
.timeline {
    display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: center;
}

.timeline-item {
    position: relative;
	margin: .5em;
	width: 100%;
	max-width: 20px;
	text-align: center;
	border-radius: 50%;
	overflow: hidden;
}

/* .timeline-item:before {
    display: block;
	content: '';
	margin-top: 100%;
} */

.timeline-item-circle {
    width: 20px;
    height: 20px;

    background: #FFFFFF;
    border: 5px solid #FFC402;
	border-radius: 50%;
    box-sizing: border-box;
}

/* .timeline-item:hover {
    width: 39px;
    height: 39px;
    
    background: #FFFFFF;
    border: 3px solid #FFC402;
    border-radius: 50%; 
    box-sizing: border-box;
} */

.hero {
    width: 100%; 
    background-color: #0059FC; 
    height: 458px; 
    left: 0px;
    top: 175px;
    color: #fff; 
    padding: 30px;
    display: flex;
    align-items: center;
}

.hero-content {
    width: 536px;
}

.hero h2 {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 50px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 10px 0 20px 0;
}

.hero p {
    
}

.hero p.date {
    font: 'Roboto Mono' 20px/34.5px;

}

.section-content {
    margin: 100px 0;
}

.section-content hr {
    border: 0;
    border-top: 3px solid #FF3D40;
    width: 186px;
    margin: 0;
}

.section-content:nth-of-type(2) hr {
    border-color: #0059FC;
}

.section-content h3 {
    margin-top: 15px;
    font: 'Roboto Mono' 25px/40px;
    color: #000;
}

.section-content p.byline {
    font: 'Roboto Mono' 15px/20px;
    color: #4f4f4f;
}

.section-content p {
    width: 500px;
    font: 'Roboto Mono' 20px/30px;
    color: #000;
}