<!-- https://designsystem.digital.gov/utilities/layout-grid/ -->
{% for statement in site.data.home.problem_statements %}
  {% assign current-statement = statement.statement %}
  <div class="grid-container">
    <hr class="" />
    <div class="grid-row">{{ current-statement.heading }}</div>
    <div class="grid-row">{{ current-statement.subheading }}</div>
    <div class="grid-row">{{ current-statement.call-out }}</div>
    <div class="grid-row">
      <div class="grid-column grid-col-4">
        <div>
          <p>Executive Champion</p>
          <p>
          {{ current-statement.executive-champion }}
          {% if current-statement.executive-director != "" %}
            <br />{{ current-statement.executive-director }}
          {% endif %}
          </p>
          <br><br>
          {% if current-statement.product-advisors.size and current-statement.product-advisors.size != 0 %}
            <p>Product Advisors</p>
            <ul>
              {% for advisor in current-statement.product-advisors %}
                <li>{{ advisor }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="grid-container">  
        <div class="grid-column grid-container">
          <div>
            {% if current-statement.tech-teams.size and current-statement.tech-teams.size != 0 %}
              <p>Tech Teams</p>
              <ul>
              {% for team in current-statement.tech-teams %}
              <li>{{ team }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>
          <div>
            {% if current-statement.user-advocates.size and current-statement.user-advocates.size != 0 %}
              <p>User Advocates</p>
              <ul>
              {% for advocate in current-statement.user-advocates %}
              <li>{{ advocate }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
