<div class="bg-primary-lighter">
  <h2>To-do list for the timeline:</h2>
  <ol>
    <li>Give bullets onHover</li>
    <li>Display content onHover or onClick - Display week 1 by default</li>
  </ol>
</div>

horizontal list in container
<!-- circles in flexbox - https://www.endocreative.com/flexbox-circle-responsive-elements/ -->
<div class="grid-row timeline">
{% for week in site.data.dashboard.timeline %}
  {% assign current-week = week.week %}
  <div class="tablet:grid-col timeline-item">
    <div class="timeline-item-circle"></div>
  </div>
{% endfor %}
</div>


<ul>
  {% for week in site.data.dashboard.timeline %}
    {% assign current-week = week.week %}
    <div>
        <h4>{{ current-week.dates }}</h4>
        {% for event in current-week.events %}
        {% assign current-event = event.event %}
          <h5>{{ current-event.headline }}</h5>
          <p>{{ current-event.text }}</p>
        {% endfor %}
    </div>
  {% endfor %}
</ul>