<div class="bg-primary-lighter">
  <h2>To-do list for the timeline:</h2>
  <ol>
    <li>Figure out a horizontal list</li>
    <li>Style bullets as ellipse</li>
    <li>Give bullets onHover</li>
    <li>Display content onHover or onClick - Display week 1 by default</li>
  </ol>
</div>

<ul>
  {% for week in site.data.dashboard.timeline %}
    {% assign current-week = week.week %}
    <div>
        <h4>{{ current-week.week.dates }}</h4>
        {% for event in current-week.events %}
        {% assign current-event = event.event %}
          <h5>{{ current-event.headline }}</h5>
          <p>{{ current-event.text }}</p>
        {% endfor %}
    </div>
  {% endfor %}
</ul>